@charset "UTF-8";

@media screen and (max-width: 450px) {
    main {
      width: 410px;
    }

    header {
        width: 410px;
    }

    p#summary {
        margin-left: 51px;
    }

    button {
        margin-left: 51px;
    }
}